.container { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
    /* To restrict the areas of the nav bar and footer bar. */
}

footer a {
    font-size: 40px;
    color: blue;
}

footer {
    background-color:grey;
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:40px ;
    background-color: rgba(0,0,0,0.338);
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav  a {
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

main {
    height: 500px;
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
}

h1{
    color: black;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
}
/* 删除会导致字体上升 */
/*                                                                                                      For All pages */

body {
    background-image: url(/static/images/awps.jpg);
    background-size: cover;
    /* to move with picture */
    background-repeat: no-repeat;
    /* to stop background photo repeating. */
    background-position: center;
}

.home-h2 {
    color: red;
    padding-top: 40px;
    font-size: 84px;
    font-family:Arial, Helvetica, sans-serif;
}

/*                                                                                                      Home page */

body {
    background-color: grey;
    background-image: url(/static/images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-p {
    padding-top: 90px;
    font-size: 30px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
}



/*                                                                                                       About page */

body {
    background-image: url(/static/images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-h1 {
    color: blue;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-p{
    font-weight: bold;
    /* font to be bold */
    padding-top: 70px;
    font-size: 35px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
}

.contact-a {
    color: blue;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif
    /* text-decoration: none; (no underline)*/
}
/* 影响nav bar */

/*                                                                                                       Contact page */
