body {
    background-image: url(/static/images/awps.jpg);
    background-size: cover;
    /* to move with picture */
    background-repeat: no-repeat;
    /* to stop background photo repeating. */
    background-position: center;
}
/* changes page background color */

.container { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /* background-color: blue; */
    /* 可切换是否要有格子highlight */
    height: 118px;
    text-align: center;
}

nav {
    height:40px ;
    /* background-color: #2f3035; */
    background-color: rgba(0,0,0,0.338);
    text-align: center;
    /* to keep links in center */
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav  a {
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

main {
    height: 450px;
    text-align: center;
    /* set the texts into the center of page. */

    /* padding-top: 15px; */

    /* 增加文本与上方距离 */
    /* margin-top: 80px; */
    /* 格子拉开距离 （上下可同时使用）*/
    padding-left: 240px;
    padding-right: 240px;
    /* 在左右两方各自平均空白 */
}

footer {
    background-color:grey;
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text into the center horrizon. */
}

footer a {
    font-size: 40px;
    color: blue;
}

h2 {
    color: black;
    padding-top: 40px;
    font-size: 84px;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: black;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif
    /* text-decoration: none; (no underline)*/
}

body.container.about {
    background-image: url(/static/images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container.contact { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
}

header.contact {
    height: 118px;
    text-align: center;
}

nav.contact {
    /* background-color: #2f3035; */
    background-color: rgba(0,0,0,0.338);
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav  a.contact {
    /* this is the subtitles */
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

main.contact {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-s;
    height: 500px;
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
}

h1.contact {
    color: yellow;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
}

h2.contact {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

p.contact {
    padding-top: 90px;
    font-size: 30px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
}

a.contact {
    color: yellow;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

body.about {
    background-color: grey;
    background-image: url(/static/images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container.about { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
}

header.about {
    height: 118px;
    text-align: center;
}

nav.about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:40px ;
    background-color: rgba(0,0,0,0.338);
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav  a.about {
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

main.about {
    height: 500px;
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
}

footer.about {
    background-color:grey;
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1.about {
    color: black;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
}

p.about {
    font-weight: bold;
    /* font to be bold */
    padding-top: 70px;
    font-size: 35px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
}

a.about {
    color: red;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}