.container { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
}
    /* To restrict the areas of the nav bar and footer bar. */

header {
    height: 118px;
    text-align: center;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:40px ;
    background-color: rgba(0,0,0,0.338);
    text-align: center;
    /* Centre the sub-titles in the bar */
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav  a {
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
/* The sub-titles  */

main {
    height: 500px;
    text-align: center;
/* All text r centred horizontally */
    padding-left: 240px;
    padding-right: 240px;
    margin-top: 30px;
}

footer a {
    font-size: 40px;
    color: blue;
}

footer {
    background-color:grey;
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color: black;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(/static/images/awps.jpg);
    background-size: cover;
    /* to set the size just right */
    background-repeat: no-repeat;
    /* to stop background photo repeating. */
    background-position: center;
}
/*                                                                                                         For All pages */

.home-h2 {
    color: white;
    padding-top: 40px;
    font-size: 84px;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: blue 12px -5px 20px,
    teal -15px 2px 18px;
}

h2{
    margin: 30px;
}
/*                                                                                                         Home page */

.about-p {
    padding-top: 90px;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: blue 12px -5px 20px,
    teal -15px 2px 18px;
    /* font shadow */
}

/*                                                                                                         About page */

.contact-h1 {
    color: white;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding-top: 65px;
    text-shadow: blue 12px -5px 20px,
    teal -15px 2px 18px;

}

.contact-p{
    font-weight: bold;
    /* font to be bold */
    padding-top: 70px;
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: blue 12px -5px 20px,
    teal -15px 2px 18px;
}
/*                                                                                                         Contact page */

.all_skins {
    font-size: 30px;
    text-decoration: none;
    /* no under-line */
    color: white;
    display: grid;
    /* to be displayed by listing not horizontally consecutive */
    font-weight: bold;
    text-shadow: blue 12px -5px 20px,
    teal -15px 2px 18px;
}
/*                                                                                                        All skins page */

.skin-img {
    max-width: 100%; 
    max-height: 100%;/* make sure the image is in the container */
    /* overflow: hidden; */
    margin: 0; /* image in the middle of the page */
    /* 可有可无的 */
}
/* styles for the img in skin-img so that image will not get out of the container*/
.skin-img img {
    max-width: 100%; /* make sure the image is in the container */
    height: auto; /* Maintain A/R */
    margin-right: 0px /*change the position of the image*/
}

.skin-img{
    height: 200px;
    max-width: fit-content;
}

.CaseBelong {
    font-size: 30px;
    color: white;
    text-shadow: blue 12px -5px 20px,
    teal -15px 2px 18px;
}
/* info from database expressed */
/*                                                                                                         Skin ID Pages */