<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="/static/css/about.css">
    </head>
    <body>

        <div class="container">

        <header>
            <img src="AK's.jpg" alt="">
        </header>

        <nav>
            <a href="" class="no-underline">Home</a>
            <a href="" class="no-underline" >Contact</a>
            <a href="" class="no-underline" >About</a>
        </nav>

        <main>
            <h1></h1>
            <p>This website is designed to popularize the <a href="https://buff.163.com/" target="_blank">AK-98s' skin trading store</a> and      meanwhile inform all the AWP skins exists in CSGO.Information includes the name of the skin, what case it's from and etc.</p>
            <!-- to add a link without closing the first window -->

        </main>

        </div>

    </body>
</html>