<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>Contact</title>
        <link rel="stylesheet" href="/static/css/contact.css">
    </head>
    <body>

        <div class="container">

        <header>
            <img src="AK's.jpg" alt="">
        </header>

        <nav>
            <a href="" class="no-underline">Home</a>
            <a href="" class="no-underline" >Contact</a>
            <a href="" class="no-underline" >About</a>
        </nav>

        <main>
            <h1>You are most welcome to get in touch</h1>
            <p>If you are marking this as a assessment and have something to say: 
            <a href="https://mail.google.com/" target="_blank">20086@burnside.school.nz</a></p>
        </main>

        </div>

    </body>
</html>