body {
    background-color: grey;
    background-image: url(awps.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /* background-color: blue; */
    /* 可切换是否要有格子highlight */
    height: 118px;
    text-align: center;
}

nav {
    /* background-color: #2f3035; */
    background-color: rgba(0,0,0,0.338);
    height: 40px;
    text-align: center;
    /* to keep links in center */
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav  a {
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

main {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-s;
    height: 500px;
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    height: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text into the center horrizon. */
}

h1 {
    color: black;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding-top: 90px;
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -30px;
}

a {
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}