<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- type ! -->
         <title>AK's store</title>
        <!-- name of the window -->
        <link rel="stylesheet" href="right.css">
    </head>
   
    <div class="container">

        <header>
            <img src="AK's.jpg" alt="">
        </header>

     <nav>
        <a href="file:///C:/dev/CS2/templates/homepage.html" class="no-underline">Home</a>
        <a href="file:///C:/dev/CS2/templates/contact.html" class="no-underline" >Contact</a>
        <a href="file:///C:/dev/CS2/templates/about.html" class="no-underline" >About</a>
        <a href="" class="no-underline" >References / Resources</a>
        <a href="" class="" >Letter</a>
     </nav>

     <main>
        <h1>Welcome to the AK-98S'!</h1>
     </main>

        <footer><a href="https://www.google.co.nz/" target="_blank">All skins</a></footer>

    </div>

</html>