<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!-- type ! -->
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <title>AK's store</title>
        <!-- name of the window -->
        <link rel="stylesheet" href="/static/CSS/right.css">
    </head>
    <body>

        <div class="container">

        <header>
            <img src="/static/images/AK's.jpg" alt="">
        </header>

        <nav>
            <a href="" class="no-underline">Home</a>
            <a href="" class="no-underline">  Contact</a>
            <a href="" class="no-underline">About</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>

        <main>
            <h1>Welcome to the AK'S!</h1>
            <p>This website is designed to inform all the AWP skins exists up to date in CSGO.Information includes the name of the skin, what case it's from and etc.</p>
            <a href="https://www.google.co.nz/" target="_blank">All skins</a>
            <!-- to add a link without closing the first window -->
        </main>

        <footer></footer>

        </div>

    </body>
</html>