<!doctype html>
<html>
    <head>
        <title>Welcome to my website</title>
        <link rel = "stylesheet" href = "/static/css/style.css">
    <body>
        <div class="container">

            <header>
            {% include 'header.html'%}
            </header>
            
            {% include 'nav.html'%}
            
            <main>
            {% block content%}
                
                {% endblock %}
            </main>

            <footer>
            {% include 'footer.html'%}
            </footer>
            
        </div>
    </body>
    </head>
</html>