<!doctype html>
<html>
    <head>
        <title>Welcome to my website</title>
        <link rel = "stylesheet" href = "/templates/css/right.css">
    <body>
        <div class="container">

            <header>
            {% include 'header.html'%}
            </header>

            <nav>
            {% include 'nav.html'%}
            </nav>

            <main>
            <h1>{%block content%}{% endblock %}</h1>
            </main>

            <footer>
            {% include 'footer.html'%}
            </footer>
            
        </div>
    </body>
    </head>
</html>