body {
    background-color: grey;
    background-image: url(awps.jpg);
    /* 页面背景图片为 */
    background-size: cover;
    /* to move with picture */
    background-repeat: no-repeat;
    /* to stop background photo repeating. */
    background-position: center;
}
/* changes page background color */

.container { 
    margin-left:auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /* background-color: blue; */
    /* 可切换是否要有格子highlight */
    height: 118px;
    text-align: center;
}
/* margin-right:auto; 可以变换盒子位置 */

nav {
    background-color: #2f3035;
    /* height: 40px; */
    text-align: center;
    /* to keep links in center */
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 450px;
    text-align: center;
    /* set the texts into the center of page. */
    padding-top: 80px;
    /* 增加文本与上方距离 */
    /* margin-top: 80px; */
    /* 格子拉开距离 （上下可同时使用）*/
    padding-left: 240px;
    padding-right: 240px;
    /* 在左右两方各自平均空白 */
}

footer {
    background-color:grey;
    height: 50px;
}

h1 {
    color: black;
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; (no underline)*/
}

nav  a {
    text-decoration: none;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

/* .no-underline {
    text-decoration: none;
} */

/**********/
/**      **/
/**GLOBAL**/
/***    ***/
/**********/